$theme-color: #f6da36;
$white-color: #f7fff7;
$black-color: #000500;
$blue-color: #0fa3b1;
$gray-color: #323031;
$light-gray-color: #e8e8e8;
$opacity-gray-color: rgba(50, 48, 49, .3);

$facebook-color: #3b5998;
$twitter-color: #00acee;
$google-color: #db4437;
